<table border="0">
    <tr>
        <td>booking time</td>
        <td>credit</td>
        <td></td>
        <td></td>
        <td>debit</td>
        <td></td>
    </tr>
    {% for booking_row in account_table.booking_rows %}
    {% if booking_row.is_credit %}
    <tr>
        <td>{% if booking_row.is_saldo %}
            {% else %}
            {{booking_row.booking_time}}
            {% endif %}
        </td>
        <td>{{booking_row.title}}</td>
        <td>{{booking_row.amount_currency}}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% else %}
    <tr>
        <td>{% if booking_row.is_saldo %}
            {% else %}
            {{booking_row.booking_time}}
            {% endif %}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{booking_row.title}}</td>
        <td>{{booking_row.amount_currency}}</td>
    </tr>
    {% endif %}

    {% endfor %}
</table>