<head>
    <script src="/js_code/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.resetPassword = function (e) {
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    username: "{{user_name}}",
                    new_password: $("#new_password").val(),
                    reset_token: "{{reset_token}}",
                };

                $.post("do_reset_password", formData, function (data, status) {
                    $("#reset_response").text(data.result);
                    $("#reset_response").prop('style').display = "inline";
                })
                .done (function(data){
                    $("#register_response").prop('style').display="inline";
                    $("#register_response").text(data.result);
                })
                .fail (function(data){
                    $("#register_response").prop('style').display="inline";
                    $("#register_response").text("Fehler: "+data.responseText);
                });
            }
            $("#ResetPasswordBtn").click(function (e) {
                $.fn.resetPassword(e);
            });
        });
    </script>
</head>

<body>

    <h1>Please enter your new password</h1>


    <h3> please chose your password wisely</h3>
    <form id="ResetPasswordForm">
        <label>Password
            <input type="password" placeholder="Enter Password" name="new_password" id="new_password">
        </label>
        <button id="ResetPasswordBtn">reset password</button>
    </form>
    <div id="reset_response" style="display: none;">
        nothing to report
    </div>

</body>