<head>
    <script src="/js_code/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.PasswordResetJsFunction = function (e) {
                // using this page stop being refreshing 
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    user_name: $("#username").val(),
                    reset_secret: $("#User_ResetSecret").val(),
                };

                $.post("do_RequestPasswordResetToken", formData, function (data, status) {
                    $("#js_response").text(data.result);
                    $("#js_response").prop('style').display="inline";
                });
            }
            $("#PasswordResetBtn").click(function (e) {
                $.fn.PasswordResetJsFunction(e);
            });
        });
    </script>
</head>

<body>
<h2>Password Reset Request Seite</h2>
<br>
Bitte füllen sie das folgende Formular aus:
<form id="PasswordResetForm">
    <label>Benutzername:
        <input type="text" placeholder="" name="username" id="username">
    </label>
    <br>
    <label>Resetgeheimnis:
        <input type="text" placeholder="" name="User_ResetSecret" id="User_ResetSecret">
    </label>
    <br>
    <button id="PasswordResetBtn">Request Reset</button>
</form>

<div id="js_response" style="display: none;">
    nothing to report
</div>
</body>