<head>
    <script src="/js_code/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.changePasswordRequest = function (e) {
                // using this page stop being refreshing 
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    password_new_1: $("#password_new_1").val(),
                    password_new_2: $("#password_new_2").val(),
                    password_old: $("#password_old").val(),
                };

                $.post("do_changePasswort", formData, function (data, status) {
                    $("#expire_information").text("Your session expires at " + data.new_expire_timestamp);
                    $("#js_response").text(data.result);
                    $("#js_response").prop('style').display = "inline";
                    $("#password_new_1").val('');
                    $("#password_new_2").val('');
                    $("#password_old").val('');
                });
            }
            $("#changePasswordButton").click(function (e) {
                $.fn.changePasswordRequest(e);
            });

            $.fn.changeResetSecretRequest = function (e) {
                // using this page stop being refreshing 
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    new_reset_secret: $("#new_reset_secret").val(),
                };

                $.post("do_changeResetSecret", formData, function (data, status) {
                    $("#js_response").text(data.result);
                    $("#js_response").prop('style').display = "inline";
                    $("#new_reset_secret").val('*****');
                });
            }
            $("#changeResetSecretButton").click(function (e) {
                $.fn.changeResetSecretRequest(e);
            });

            $.fn.changeUPdateGeneralUserData = function (e) {
                // using this page stop being refreshing 
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    first_name: $("#User_Vorname").val(),
                    last_name: $("#User_Nachname").val(),
                };

                $.post("do_changeUserInfo", formData, function (data, status) {
                    $("#expire_information").text("Your session expires at " + data.new_expire_timestamp);
                    $("#js_response").text(data.result);
                    $("#js_response").prop('style').display = "inline";
                });
            }
            $("#changeUserInfo").click(function (e) {
                $.fn.changeUPdateGeneralUserData(e);
            });
        });
    </script>
</head>

<body>
    {% if logged_in %}
    <h2>this is your home {{username}}</h2>
    <br />
    <div id="expire_information">
        Your session expires at {{session_expire_timestamp}}
    </div>
    {% if information_show %}
    <br>
    {{information_text}}
    {% endif %}
    <div id="js_response" style="display: none;">
        nothing to report
    </div>
    <form id="UserInfo" action="/do_changeUserInfo">
        <label>Vorname
            <input type="text" placeholder="" name="User_Vorname" id="User_Vorname" value="{{user_vorname}}">
        </label>
        <br>
        <label>Nachname
            <input type="text" placeholder="" name="User_Nachname" id="User_Nachname" value="{{user_nachname}}">
        </label>
        <button id="changeUserInfo">Update Daten</button>
    </form>
    <form id="ChangePasswordForm">
        <label>new password
            <input type="password" placeholder="" name="password_new_1" id="password_new_1">
        </label>
        <br>
        <label>confirm password
            <input type="password" placeholder="" name="password_new_2" id="password_new_2">
        </label>
        <br>
        <label>current password
            <input type="password" placeholder="" name="password_old" id="password_old">
        </label>
        <button id="changePasswordButton">change password</button>
    </form>
    <form id="changeResetSecretForm">
        <label>reset secret, required to request a password reset request
            <input type="password" placeholder="*****" name="new_reset_secret" id="new_reset_secret">
        </label>
        <button id="changeResetSecretButton">change reset secret</button>
    </form>
    <br>
    <h2>Configuration Pages</h2>
    <table>
        <tr>
            <td>
                <a href="/accountingconfig">Accounting configuration</a>
            </td>
        </tr>
    </table>
    <br>
    <h2>Accounting Pages</h2>
    <table>
        <tr>
            <td>
                <a href="/do_show_accounting_main">Accounting configuration</a>
                <a href="/do_show_booking_review">Booking review</a>
                <a href="/do_show_journal_view">Journal view</a>
            </td>
        </tr>
    </table>
    <br>
    <form action="/do_logout" method="post">
        <button type="submit">Logout</button>
    </form>
    {% else %}
    You were logged out because of {{logout_reason}}
    {% endif %}

</body>