<h1>Hello, World!</h1><br>running on port {{web_running_port}}
<br>{{additional_info}}!
<br>
<br> test if else
{% if called_times % 2 == 0 %}
{% include "EvenCall.html" %}
{% else %}
{% include "OddCall.html" %}
{% endif %}

<h3> please do an login</h3>
<form action="/do_login" method="post">
    <label>Username
        <input 
            type="text" 
            placeholder="Enter Username" 
            name="username"
        >
    </label>

    <label>Password
        <input 
            type="password" 
            placeholder="Enter Password"
            name="password"
        >
    </label>

    <button type="submit">Login</button>
</form>