<head>
    <script src="/js_code/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.createNewAccountType = function (e) {
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    title: $("#newAccountTypeTitle").val(),
                    description: $("#newAccountTypeDescription").val(),
                };

                $.post("request_create_new_account_type", formData, function (data, status) { })
                    .done(function (data) {
                        $("#create_response").prop('style').display = "inline";
                        $("#create_response").text(data.result);

                        var xTable = document.getElementById('account_type_table');
                        var tr = document.createElement('tr');
                        tr.id = "accountTypeRow_" + data.new_id
                        tr.innerHTML = data.subpage;
                        xTable.appendChild(tr);
                    })
                    .fail(function (data) {
                        $("#create_response").prop('style').display = "inline";
                        $("#create_response").text("Fehler: " + data.responsetext);
                    });
            }
            $("#accountTypeCreate").click(function (e) {
                $.fn.createNewAccountType(e);
            });
        });
        function updateAccountType(accountTypeId) {
            var val1 = document.getElementById('accountType_title_' + accountTypeId).textContent;
            var val2 = document.getElementById('accountType_descrption_' + accountTypeId).textContent;

            var formData = {
                account_type_id: accountTypeId,
                title: val1,
                description: val2,
            };
            $.post("request_update_account_type", formData, function (data, status) { })
                .done(function (data) {
                    $("#create_response").prop('style').display = "inline";
                    $("#create_response").text(data.result);
                })
                .fail(function (data) {
                    $("#create_response").prop('style').display = "inline";
                    $("#create_response").text("Fehler: " + data.responsetext);
                });
        }
    </script>
</head>

<body>
    <h2>Account configration for {{username}}</h2>
    <br>
    <h3>Finance Accont Types</h3>
    <table id="account_type_table">
        <tr>
            <td style="display:none;">IDs</td>
            <td>Name</td>
            <td>Description</td>
            <td></td>
        </tr>
        {% for account_type in account_types %}
        <tr id="accountTypeRow_{{account_type.id}}">
            {% include "accountTypeRow.html" %}
        </tr>
        {% endfor %}
    </table>
    <form id="createNewAccountTypeForm">
        <input type="text" id="newAccountTypeTitle" placeholder="title for new account type">
        <input type="text" id="newAccountTypeDescription" placeholder="description of new account type">
        <button id="accountTypeCreate">Create</button>
    </form>
    </table>
    <div id="create_response" style="display: none;">
        nothing to report
    </div>
</body>