<tr id="accountTypeRow_{{account_type.id}}">
    <td id="accountType_id_{{account_type.id}}" style="display:none;">{{account_type.id}}</td>
    <td id="accountType_title_{{account_type.id}}" contentEditable="true">{{account_type.name}}</td>
    <td id="accountType_descrption_{{account_type.id}}" contentEditable="true">{{account_type.description}}</td>
    <td><button id="accountType_Update_{{account_type.id}}"
            onclick="updateAccountType('{{account_type.id}}')">Update</button></td>
</tr>