<head>
    <script src="/js_code/jquery-3.6.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.createNewAccountType = function (e) {
                // see https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
                e.preventDefault();
                var formData = {
                    title: $("#newAccountTypeTitle").val(),
                    description: $("#newAccountTypeDescription").val(),
                };

                $.post("request_create_new_account_type", formData, function (data, status) {})
                .done (function(data){
                    $("#create_response").prop('style').display="inline";
                    $("#create_response").text(data.result);

                    var xTable = document.getElementById('account_type_table');
                    var tr = document.createElement('tr');
                    tr.innerHTML = data.subpage;
                    xTable.appendChild(tr);
                })
                .fail (function(data){
                    $("#create_response").prop('style').display="inline";
                    $("#create_response").text("Fehler: "+data.responsetext);
                });
            }
            $("#accountTypeCreate").click(function (e) {
                $.fn.createNewAccountType(e);
            });
        });
    </script>
</head>

<body>
    <h2>Account configration for {{username}}</h2>
    <br>
    <h3>Finance Accont Types</h3>
    <table id="account_type_table">
        <tr>
            <td style="display:none;">IDs</td>
            <td>Name</td>
            <td>Description</td>
            <td></td>
        </tr>
        {% for account_type in account_types %}
        <tr>
        {% include "accountTypeRow.html" %}
        </tr>
        {% endfor %}
        <tr id="accountTypeRow_empty" style="display:none";>
            <td id="accountType_id_empty" style="display:none;"></td>
            <td id="accountType_title_empty"></td>
            <td id="accountType_descrption_empty"></td>
            <td><button id="accountType_Update_empty">Update</button></td>
        </tr>
    </table>
        <form id="createNewAccountTypeForm">
            <input type="text" id="newAccountTypeTitle" placeholder="title for new account type">
            <input type="text" id="newAccountTypeDescription" placeholder="description of new account type">
            <button id="accountTypeCreate">Create</button>
        </form>
    </table>
    <div id="create_response" style="display: none;">
        nothing to report
    </div>
</body>